.table *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.table *::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 3px;
}

.table *:focus::-webkit-scrollbar-thumb {
    background: #888;
}

/* === DynamicGrid Specific Overrides === */
.dynamic-grid-table-header, .dynamic-grid-table-body {
    border-collapse: collapse;
    background: #f9f9f9;
    font-family: Arial, sans-serif;
    overflow-x: auto;
    border-radius: 4px;
    width: fit-content;
    table-layout: fixed;
    overflow: hidden;
    overflow-x: scroll;
}

table.dynamic-grid-table-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Header row */
.dynamic-grid-table-header .header-row {
    background: #f7f7f9;
    color: #222222;
    font-size: 12px;
    text-transform: capitalize;
    height: 30px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Header cells */
.dynamic-grid-table-header .header-cell {
    max-height: 30px;
    vertical-align: middle;
    border-right: 1px solid #e7e7e9;
    border-bottom: none;
}

.dynamic-grid-table-header .header-cell:last-child {
    border-right: none;
}

.dynamic-grid-table-header .header-cell:first-child {
    position: sticky;
    left: 0;
    z-index: 100;
    background: #f7f7f9;
    outline: 1px solid #d7d7d9;
    width: 100%;
}

.header-cell-content {
    display: flex;
    flex-direction: row-reverse;
    margin: 4px;
    align-items: center;
}

.dynamic-grid-table-header .header-cell-button {
    display: block;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 12px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    scale: 1 0.5;
    width: 16px;
    margin-left: auto;
    color: #999999;
    background-color: transparent;
}

.dynamic-grid-table-header .header-cell-button:hover {
    background-color: #e7e7e8;
    border-radius: 4px;
}

/* Data rows */
.dynamic-grid-table-header .data-row {
    height: 30px;
    background: white;
}

.dynamic-grid-table-header .data-row:hover {
    background-color: #f1f1f1;
}

/* Data cells */
.dynamic-grid-table-header .data-cell {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 8px;
    white-space: nowrap;
    font-size: 13px;
    color: #333;
    text-align: left;
}

.dynamic-grid-table-header .data-cell:last-child {
    border-right: none;
}

.header-resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    translate: 5px 0;
    height: 100%;
    cursor: col-resize;
    background-color: transparent;
}

.header-resize-handle.hover {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header-resize-handle.hover::after, .header-resize-handle.hover::before {
    content: '';
    height: 50%;
    background: gray;
    width: 3px;
    position: absolute;
    translate: -3px 0;
}

.header-resize-handle.hover::before {
    translate: 4px 0;
}

.header-resize-handle.hover:active::after {
    content: '';
    height: 100%;
    background: green;
    width: 2px;
    position: absolute;
    translate: 2px 0;
    top: 0;
}

.header-resize-handle.hover:active::before {
    background: transparent;
}

.scroll-container {
    overflow-y: auto;
    max-height: 500px;
    position: relative;
}

td.body-cell {
    background: #ffffff;
    border: 1px solid #e7e7e9;
    text-wrap-mode: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

td.body-cell:first-child {
    border-left: none;
    background: #f7f7f9;
    text-align: center;
    color: #222222;
    font-size: 12px;
    position: sticky;
    left: 0;
}

.dynamic-grid-table {
    border-radius: 10px;
    border: 1px solid #e7e7e9;
    overflow: scroll;
    height: 90vh;
}

.dynamic-grid-table-header * {
    box-sizing: border-box;
    user-select: none;
}

.header-cell-content .header-cell-text {
    width: min-content;
    text-overflow: ellipsis;
    overflow: hidden;
}